.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
application.properties


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# sbteclipse plugin
.target

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
.project