<main>
    <h2>COCKTAILS</h2>

    <h3>API RESPONSE</h3>

    <table>
        <thead>
            <tr>
                <th>Drink</th>
                <th>Glass</th>
                <th>Ingredients</th>
                <th>Instructions</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngFor="let cocktail of cocktails">
                <tr>
                    <td>{{ cocktail.strDrink }}</td>
                    <td>{{ cocktail.strGlass }}</td>
                    <td>{{ cocktail.strIngredient1 }}</td>
                    <td>{{ cocktail.strInstructions }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</main>