.searchDiv {
    margin-bottom: 12px;
}

.searchButton {
    margin-right: 12px;
}

.searchInput {
    margin-right: 12px;
}

.cocktailTable {
    border-collapse: collapse;
    text-align: left;
}

.cocktailTable th, .cocktailTable td {
    padding: 8px;
}

.cocktailTable td:first-of-type {
    font-weight: bold;
}

.oddRow {
    background-color: lightgrey;
}

.evenRow {
    background-color: rgb(228, 228, 228);
}

.cocktailTable img {
    width: 100px;
}

.cocktailTable td button {
    display: block;
    margin-bottom: 4px;
}

.toggleButton {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    font-weight: bold;
    font-size: 1em;
    padding: 0px;
}