nav {
    background-color: lightgray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    display: inline-block;
    padding: 1em;
    font-size: 18px;
    text-decoration: none;
    color:rgb(55, 49, 49);
    font-weight: bold;
}