<main>
    <h1>My Home Page</h1>

    <article>
        <h2>Some Fun Facts</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui at, nam quos nemo facilis explicabo consectetur nostrum nihil deleniti sequi pariatur, provident optio doloremque velit expedita maxime, corrupti ex. Incidunt.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, tempore vitae atque pariatur temporibus sint quod ad nobis soluta odit adipisci corrupti? Quis quas laborum hic quisquam pariatur consequatur reiciendis.</p>
    </article>
</main>