<main>
    <h1>Welcome to my page!</h1>
    <h2>This Angular Application is under construction.</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut officia quod maiores eius rerum cum at cumque dolore eligendi aut, voluptatem veritatis dicta! Itaque recusandae perferendis atque quibusdam, voluptate asperiores.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum facilis consequatur iste soluta exercitationem atque velit voluptatum dolorem omnis labore hic sit, repudiandae a vero, tempora nesciunt enim, asperiores alias.
    Dolorum optio qui non iure voluptatibus praesentium omnis! Esse beatae tempora fugiat corporis modi, doloremque quasi nobis aspernatur exercitationem. Ad soluta fugit, error perspiciatis eaque similique cumque ab modi nulla?</p>
</main>
