section {
    background-color: lightgray;
    border-radius: 8px;
    padding: 20px 20px 20px 40px;
    width: 150px;
    margin-bottom: 10px;
    border: solid 1px black;
}

section ul li:first-of-type {
    font-weight: bold;
    text-transform: uppercase;
}

div {
    margin-top: 12px;
}