<!-- loading in our header component -->
<app-header></app-header>

<!-- this is where all our routing links
     are going to output their content -->
<router-outlet></router-outlet>

<!-- loading in our footer component -->
<!-- "app-something" is a component -->
<!-- <app-footer></app-footer> -->

<!-- this is just a standard HTML tag for footer -->
<!-- if you're just using a set of code in one place
     you CAN just code it there, rather than creating a component -->
<footer>
  &copy; 2022 Jon Provan's Miracle Code; All Rights Reserved.
</footer>