.cocktailTable {
    border-collapse: collapse;
    text-align: left;
}

.cocktailTable th, .cocktailTable td {
    padding: 8px;
}

.cocktailTable td:first-of-type {
    font-weight: bold;
}

.oddRow {
    background-color: lightgrey;
}

.evenRow {
    background-color: rgb(228, 228, 228);
}

.cocktailTable img {
    width: 100px;
}