main {
    padding: 24px;
}

h2 {
    margin-bottom: 24px;
}

h3 {
    margin-bottom: 10px;
}

h4 {
    font-style: italic;
    color: red;
}

section {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}