button {
    border-radius: 6px;
    margin-bottom: 12px;
}

section {
    background-color: rgb(61, 223, 223);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px black;
    margin-bottom: 8px;
}

section * {
    margin: 0px;
    padding: 0px;
}

h2, h3 {
    color: rgba(0, 0, 0, 0.6);
}

h1 {
    margin-bottom: .5em;
}

h2 {
    font-size: 20px;
    margin-bottom: .25em;
}

h3 {
    font-size: 16px;
}